*.pyc
autodoc
build
doc/_build
dist
rt1.egg-info
.ipynb_checkpoints
.spyproject
.pylintrc
.env
.vscode
_additional_and_old_scripts
rt1/.pylint.d
.gitmodules
coverage.xml
tests/testdump1.dump
tests/testdump2.dump
tests/proc_test
tests/proc_test2
tests/proc_test3
tests/proc_multi
