global-include LICENSE
global-include NOTICE
global-include AUTHORS
global-include COPYRIGHT
global-include *.py
global-include *.md
global-include setup.cfg
prune doc
prune tests

prune _additional_and_old_scripts
prune rt1/rtread